body{
<<<<<<< HEAD
    font-family: "Apple Braille", sans-serif; margin: 0%; padding:0%;


}

.title { text-align: center;  }  
=======
    font-family: "Apple Braille", sans-serif;margin: 0%; padding: 0%;
}
>>>>>>> 3f608dff59ad43c79bb8b5e8547695dc7f7f8d11
