body{
    font-family: "Apple Braille", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.title{
    text-align: center;
    font-size: 90px;
    padding-top: 70px;
    -webkit-text-stroke: 1px white;
}

.mapa{
    border: solid black 5px;
    float: right;
    margin-right: 1%;
    border-radius: 5%;
    margin: 30px;
}

.header{
    margin-top: -65px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    margin-right: 7%;
    width: 30%;
    float: right;
    margin-top: -420px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.pleft{
    margin-left: 1%;
    border-radius: 5%;
    margin: 30px;
}

.textl{
    margin-left: 7%;
    width: 30%;
    float: left;
    margin-top: 75px;
    padding: 20px;
    font-size: 20px;
    text-align: center;

}
#neger{
    color: black;
    font-weight: 550;
    margin-top: 50px;
}

.wrapper{
    display: flex;
}

.wrapper .static-txt{
    font-size: 120px;
    font-weight: 500;
    line-height: 90px;
    margin-top: 50px;
    margin-left: 15%;
}